# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/package_config.json
.dart_tool/package_config_subset
build/.last_build_id
build/5ac2f0046179d5c246a76aed8c877cba/.filecache
*.json
*.d
build/5ac2f0046179d5c246a76aed8c877cba/gen_localizations.stamp
*.dill
*.frag
*.cc
*.h
*.cmake
*.swift
*.frag
build/flutter_assets/NOTICES
*.dill
*.stamp
*.d
*.json
build/5ac2f0046179d5c246a76aed8c877cba/.filecache
*.prefs
.dart_tool/package_config_subset
*.json
.dart_tool/chrome-device/Default/WebStorage/QuotaManager
.dart_tool/chrome-device/Default/Visited Links
.dart_tool/chrome-device/Default/TransportSecurity
*.old
.dart_tool/chrome-device/Default/Sync Data/LevelDB/LOG
*.old
.dart_tool/chrome-device/Default/Site Characteristics Database/LOG
*.log
*.old
.dart_tool/chrome-device/Default/shared_proto_db/metadata/LOG
*.log
*.old
.dart_tool/chrome-device/Default/shared_proto_db/LOG
*.log
.dart_tool/chrome-device/Default/Shared Dictionary/cache/index-dir/the-real-index
*.old
.dart_tool/chrome-device/Default/Session Storage/LOG
*.log
.dart_tool/chrome-device/Default/Service Worker/ScriptCache/index-dir/the-real-index
*.old
.dart_tool/chrome-device/Default/Service Worker/Database/LOG
*.log
.dart_tool/chrome-device/Default/Reporting and NEL
.dart_tool/chrome-device/Default/Preferences
.dart_tool/chrome-device/Default/Network Persistent State
*.old
.dart_tool/chrome-device/Default/Local Storage/leveldb/LOG
.dart_tool/chrome-device/Default/History
*.old
.dart_tool/chrome-device/Default/GCM Store/Encryption/LOG
.dart_tool/chrome-device/Default/Favicons
*.old
.dart_tool/chrome-device/Default/Extension State/LOG
.dart_tool/chrome-device/Default/DIPS
